$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";

@import 'variables';
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

body {
  height: 100%;
  width: 100%;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.help-block {
  color: darken($text-color, 25%); // lighten the text some for contrast
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'admin/projects/admin-projects.scss';
@import 'admin/users/users.scss';
@import 'main/main.scss';
@import 'projects/all/all-projects.scss';
@import 'projects/create/create.scss';
@import 'projects/single/single.scss';
@import 'variables.scss';
@import 'modal/modal.scss';
// endinjector
