.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: $brand-info;
}

.thumbnail {
  text-align: center;
  min-height: 215px;

  i {
    font-size: 60px;
    margin-top: 10px;
  }

  .caption {
    color: #FFF;
  }

  &.thumb-primary {
    background-color: $brand-primary;
  }

  &.thumb-success {
    background-color: $brand-success;

    .thumb-icon {
      color: $brand-success;
    }
  }

  &.thumb-danger {
    background-color: $brand-danger;

    .thumb-icon {
      color: $brand-danger;
    }
  }

}

.thumb-icon {
  width: 100px;
  height: 100px;
  line-height: 8;
  margin-top: -50px;
  border: none;
}
.signup--button {
  margin-bottom: 20px;
}
.signup-hero-button {
  display: block;
  white-space: normal;
}
