.project--name {
  color: $brand-primary;

  &:hover {
    text-decoration: none;
  }
}

.all-projects {
  div.list-group-item {
    height: 100%;
  }

  .project-icon {
    margin: 30px;
    font-size: 100px;
  }

}

